@font-face {
    font-family: "FuturaCM";
    src: url("fonts/Futura.ttf") format("truetype");
}

@font-face {
    font-family: "SofiaRegular";
    src: url("fonts/SofiaProRegular.ttf") format("truetype");
}

@font-face {
    font-family: "SketchOpen";
    src: url("fonts/KGSecondChancesSketch.ttf") format("truetype");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: SofiaRegular;
}

.invisible {
    display: none;
}

.legenda {
  border: 1px solid grey;
  display: flex;
  flex-wrap: wrap;
  width:10%;
}

.imagesDiv {
  display: flex;
  justify-content: center;
}

.imagesDiv img {
  position: absolute;
  opacity: 0.5;
}
